/* DESKTOP */

@media (min-width: 768px) {

    nav {
        min-height: 12vh;
    }

    .navegacao {
        width: 65%;
    }

    .nav-lista {
        min-width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    nav li {
        font-size: 84%;
    }
    
    .nav-sanduba {
        display: none;
    }

    /* ---------- HEADER ---------- */
    header {
        height: 50vh;
        position: relative;
        align-items: left;
        text-align: left;
        padding: 5% 10%;
    }

    header div {
        position: absolute;
        bottom: 10%;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 110%;
        margin: 2% 0;
    }

    .buttona {
        padding: 1% 5%;
        font-size: 115%;
    }

    h3 {
        font-size: 200%;
    }

    /* ---------- SECTION WE-CAN-DO-IT ---------- */
    div.mais-tres {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }

    .we-can-do-it {
         min-height: 68vh;
    }

    .we-can-do-it div {
        width: 68;
        min-height: 80%;
    }

    .we-can-do-it img {
        width: 22%;
        object-fit: contain;
    }

    .we-can-do-it p {
        font-size: 140%;
        margin: 1% 0;
    }


    .vc-conhece > div {
        width: 50%;
    }

    .mulher {
        width: 26%;
    }

/* ---------- SECTION VC-CONHECE ---------- */
    .alunas {
        width: 60%;
    }

    .aluninha {
        width: 15%;
    }

/* ---------- FOOTER ---------- */
    footer > div {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: 1%;
    }

    footer > div > div {
        width: 30%;
    }

    footer li {
        margin: 2% 0;
    }

    img.footer-imagem {
        width: 65%;
    }

    .mensagemfinal {
        font-size: 110%;
    }

    img.fb {
        width: 7%;
    }



    /* ---------- NOME-SOBRENOME ---------- */
    /* ---------- OUTRA HEADER ---------- */
    .outra-header {
        padding: 5%;
        height: 30vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .outra-header h1 {
        font-size: 430%;
        text-align: center;
    }

    /* ---------- PSERSONALIDADE ---------- */

    .personalidade {
        max-height: 100vh;
        padding: 0;
    }

    .personalidade > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }

    .personalidade > div > div {
        width: 70%;
    }

    .personalidade .diva {
        width: 20%;
    }

    .personalidade p {
        font-size: 120%;
    }

    .personalidade .frase {
        width: 70%;
    }

    /* ---------- HISTORIA ---------- */
    .historia {
        padding: 0;
        min-height: 100vh;
    }

    .historia h3 {
        width: 80%;
        margin-bottom: 0;
    }

    .historia > div {
        width: 80%;
        display: flex;
        padding: 1% 0;
        font-size: 110%;
    }

    .historia .fotona {
        height: 40vh;
        margin: 0;
    }

    /* ---------- AUTORA ---------- */
    .autora > div {
        width: 60%;
    }

    .autora .foto-autora {
        width: 15%; 
    }

    .autora .dados-autora {
        font-size: 90%;
    }
    
    /* ---------- PERFIS RECOMENDADOS ---------- */
    .perfis-recomendados > div {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .perfis-recomendados > div > div {
        width: 45%;
    }

    /* ---------- SOBRE ---------- */
    /* ---------- ONDE SURGIU | PROJETO RELEVANTE ---------- */
    section.onde-surgiu p, section.projeto-relevancia p {
        font-size: 130%;
        margin: 0.5% 0;
    }

    /* ---------- PROJETO RELEVANCIA ---------- */
    .porcento {
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
    }

    .porcento .estatistica {
        font-size: 320%;
    }

    /* ---------- CRIADORAS ---------- */
    .nome-aluna p {
        font-size: 70%;
    }
}